<app-movie-new-form-dialog #movieNewFormDlg>
</app-movie-new-form-dialog>
<div class="container">
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="openMovieNewForm()">New</button>

  </div>


  @for(movie of movies;track movie.id){
    <div class="card" style="width: 18rem;">

      <app-movie-ui [movie]="movie"/>
      <div>
        <button tpye="button" class="btn btn-primary" (click)="showDeleteConfirmDlg(movie)">
          Delete
        </button>
        &nbsp;
        <button tpye="button" class="btn btn-primary" (click)="goToMovieDetails(movie)">
          Details
        </button>


      </div>

    </div>
  }
</div>
