<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Login</nb-card-header>
      <nb-card-body>
        <form [formGroup]="authForm" class="form-inline" (ngSubmit)="onSubmit()">

          <input type="text" nbInput fullWidth placeholder="username" formControlName="username">
          <div *ngIf="username!.invalid && (username!.dirty || username!.touched)" fullWidth>
            <div class="alert alert-danger" *ngIf="username!.hasError('required')">
              Username is required.
            </div>
          </div>
          <input type="password" nbInput fullWidth formControlName="password">
          <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" fullWidth>
            <div class="alert alert-danger" *ngIf="password!.hasError('required')" fullWidth>
              Password is required.
            </div>
          </div>

          <div>
            <button type="submit" nbButton status="primary" [disabled]="!authForm.valid">Submit</button>
          </div>

        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
