<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >Navbar</a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <a class="nav-link"  href="/home"

           aria-current="page" >Home</a>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/home"
               routerLinkActive="active"
               >Home</a>

          </li>


          <li class="nav-item">
            <a class="nav-link"
               routerLink="/heavy"
               routerLinkActive="active">Lazy </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/movies"
               routerLinkActive="active">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/login"
               routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/admin"
               routerLinkActive="active">Admin</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div >
    <div >


     <!-- <app-hello-world/>
      <app-hello-world/>
      <app-hello-world/>-->
     <!-- <div class="container">
        Hello from container
      </div>-->
     <!-- <app-profile name="Cristina"
                   profileImage="https://randomuser.me/api/portraits/women/59.jpg"/>
      <app-greeting message="Hi,there"/>
      <app-trim-message message=" Hello World  " value="123"/>-->
     <!-- <app-counter/>-->
      <!--<app-todo-list/>-->
     <!-- <app-border>
        <div>Hello</div>
      </app-border>
      <app-border>

      </app-border>-->
     <!-- <app-layout>
        <app-layout-body>
          This is body
        </app-layout-body>
        <app-layout-header>
          <h1>This is header</h1>
        </app-layout-header>
        &lt;!&ndash;<app-layout-footer>
          <p>This is footer</p>
        </app-layout-footer>&ndash;&gt;
        <div ngProjectAs="app-layout-footer" >
          <span>footer</span>
        </div>
      </app-layout>-->
     <!-- <app-todo-list/>-->
     <!-- <app-todo-list/>-->
     <!-- <app-factorial-input>

      </app-factorial-input>-->
     <!-- <app-view-child-demo/>-->
      <!--<app-content-child-demo>
        <app-greeting message="hello inside in app component">
          Dummy of content child
        </app-greeting>
      </app-content-child-demo>-->
      <!--<app-native-demo/>-->
      <!--<app-dynamic-demo [admin]="false"/>-->
     <!-- <app-view-container-ref-demo/>-->
     <!-- <app-template-demo/>-->
      <!--<app-two-way-binding-demo/>-->
     <!-- <app-cross-two-way-binding-demo/>-->
      <!--<app-control-flow-demo/>-->
     <!-- <app-render-list/>-->
     <!-- <app-switch-demo/>-->
    <!--  <app-pipe-demo/>-->
    <!--  <app-ng-template-demo/>-->
     <!-- <app-container-demo/>-->
     <!-- <app-inline-template/>-->
     <!-- <app-white-space/>-->
     <!-- <app-tab-demo/>
      <app-directive-demo/>-->
   <!--   <app-todo-list-2/>-->


    </div>


  </div>
</main>
<router-outlet />
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


