<html xmlns="http://www.w3.org/1999/xhtml"
  lang="en"
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorate="~{/fragments/layout.html}">
<body>
	<section layout:fragment="content">
		<table class="table stripped">
			<thead>
				<th>Title</th>
				<th>Author</th>
				<th>Description</th>
			</thead>
			<tbody>
				<tr th:each="book : ${books}">
					<td>
						<span th:text="${book.title}"></span>
					</td> 
					<td>
						<span th:text="${book.author}"></span>
					</td> 
					<td>
						<span th:text="${book.description}"></span>
					</td> 
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>